/* 
 *  GENERAL (APP-WIDE)
 */
a {
    color: #99aab5 !important;
}

a:hover {
    color: #e1ad01 !important;
}

#content-wrapper {
    background-color: #2e3033 !important;
}

.card {
    background-color: #40444c;
    border: none;
}

.card-header {
    background-color: #36383e;
    border: none;
}

footer.sticky-footer {
    background-color: #36393f !important;
}


/* 
 *  SIDEBAR
 */
.sidebar {
    background-color:#202225;
}

.sidebar .nav-item .nav-link span {
    font-size: 1rem;
    color: #c4c5c6 !important;
}

.sidebar .nav-item .nav-link span:hover {
    color: #e1ad01 !important;
}

.sidebar .nav-item .nav-link i:hover {
    color: #e1ad01 !important;
}

.collapse-item {
    color: #c4c5c6 !important; 
    font-size: 0.9rem;
}

.collapse-inner {
    background-color: #40444c;
}

.collapse-item:hover {
    background-color: #36393f !important;
}

/* 
 *  NEWS FEED CARD
 */
.newsfeed {
    max-height: 62rem;
    overflow: scroll;
}

.newsfeed-item {
    border-radius: 10px;
    background-color: #36393f;
    padding: 5px 5px;
    margin-bottom: 10px;
}

.newsfeed-image {
    border-radius: 10px;
}


/* 
 *  CELESTIAL EVENTS
 */
.celestial-events {
    list-style-type: none;
    padding: 0 10px;
}

.event {
    display: flex;
    padding: 15px 10px;
    border-radius: 10px;
}

.event:hover {
    cursor: pointer !important;
    background-color: #292b2f;
}

.event-date {
    padding-left: 10px;
    border-left: 3px solid #eaeaea;
}

.event-day {
    color: #84b2c2;
    font-size: 24px;
    font-weight: 700;
}

.event-month {
    color: #99aab5;
    font-weight: 600;
    line-height: 1;
}

.event-description {
    margin: 3px 0 5px 20px;
}

.event:hover .event-date {
    border-left: 3px solid #84b2c2;
}

.event:hover .event-description {
    color: #f2f2f2;
}


/* 
 *  ASTRONOMER'S FORECAST
 */
.forecast {
	width: 100%;
	margin-top: 20px;
    display: inline-block;
}

#temp, #celsius, #forecast-icon {
    color: #99aab5;
}

#temp {
	font-size: 4rem;
    font-weight: 300;
}

#celsius {
	font-size: 1.65rem;
    vertical-align: super;
}

#forecast-icon {
	font-size: 3.1rem;
}
